<!DOCTYPE html>
<html lang="pt-BR">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Vitruum · Política de Privacidade</title>
		<meta name="theme-color" content="#4c137a">
		<meta name="description" content="O presente Termo e Condição de Uso tem por objetivo regular para o VITRUUM a cessão do uso do sistema USUÁRIO, disponibilizado no site: vitruum.com.br">
		<meta name="robots" content="index, follow">
		<meta property="og:url" content="https://vitruum.com.br/">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Vitruum vistorias imobiliárias">
		<meta property="og:description" content="Somos um app de vistorias imobiliárias confiável e pensado para facilitar sua vida. Ofereça a melhor vistoria imobiliária para seus clientes.">
		<meta property="og:image" content="https://vitruum.com.br/jnh/logo/favicon.jpg">
		<meta property="og:image:alt" content="Icon Vitruum">
		<meta property="og:site_name" content="Vitruum vistorias imobiliárias">
		<meta property="og:locale" content="pt_BR">
		<link rel="icon" sizes="350x350" href="/jnh/logo/favicon.jpg">
		<link rel="apple-touch-icon" href="/jnh/logo/favicon.jpg">
		<link rel="stylesheet" href="/css/site.min.css">
	</head>

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-V7HD3Q676T"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-V7HD3Q676T');
	</script>

	<body>
		<header class="header_politica">
			<div class="img_politica">
				<a href="/">
					<img src="/jnh/logo/logo_roxa.png" alt="Vitruum">
				</a>
			</div>
		</header>

		<main class="main_politica">
			<article class="politica_de_privacidade">
				<div class="btn_voltar">
					<a href="/">
						<p>
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"/></svg>&nbsp;&nbsp;Voltar
						</p>
					</a>
				</div>
				<div class="container_politica">
					<h1>POLÍTICA DE PRIVACIDADE</h1>
		
					<p>Leia com atenção os termos e condições de uso VITRUUM. Ao baixar e utilizar o VITRUUM você está
						automaticamente aceitando os TERMOS E CONDIÇÕES DE USO que regem o aplicativo VITRUUM, seja em sua versão
						mobile, seja via website.</p>
					<p>Estes Termos e Condições de Uso aplicam-se ao uso dos serviços oferecidos pela VITRUUM VISTORIA DIGITAL E
						SERVIÇOS DE LICENCIAMENTO DE SOFTWARE LTDA., localizada na AV MIGUEL SOCCOL, 2921 – SALA 07 C – SERAFINA
						CORRÊA – RIO GRANDE DO SUL, inscrita no CNPJ sob n◦ 37.747.983/0001-34, aqui denominada para todos os fins
						como VITRUUM pela pessoa física ou jurídica que utilizará o sistema “USUÁRIO”, aqui denominado(a) para todos
						os fins como CESSIONÁRIO (A). Ambos firmam, de livre e espontânea vontade, o presente termo, mediante as
						condições estabelecidas nas cláusulas seguintes.</p>
		
					<p>O presente Termo e Condição de Uso tem por objetivo regular para o VITRUUM a cessão do uso do sistema
						USUÁRIO, disponibilizado no site: vitruum.com.br</p>
		
					<p><strong>1.</strong> O USUÁRIO declara-se responsável pela aceitação do presente Termo de Adesão ao Uso do
						sistema APP VITRUUM, desenvolvido pela VITRUUM, e tem capacidade, autoridade e legitimidade para assumir
						todas as responsabilidades e obrigações contidas neste instrumento;</p>
		
					<p><strong>2. </strong>O VITRUUM é um aplicativo de realização de vistorias de imóveis, mas para a geração do
						laudo válido do imóvel, o USUÁRIO deverá adquirir créditos no próprio aplicativo, que pode ser baixado em
						versão mobile em uma das lojas de aplicativos para IOS ou Android. Os termos e condições de uso abaixo
						regulam a utilização do VITRUUM por seus USUÁRIOS;</p>
		
		
					<p><strong>3. </strong>VITRUUM é um aplicativo de vistorias de imóveis. É uma plataforma onde imobiliárias,
						corretores de imóveis, construtoras, incorporadoras, proprietários de imóveis particulares e vistoriadores,
						possam coletar informações de seus imóveis (ou de terceiros) e realizar com base nessas informações
						inseridas no APP a geração do laudo (relatório) de vistoria do imóvel com fotos, vídeo e descrição detalhada
						dos itens constantes na unidade;</p>
		
					<p><strong>4. </strong>São exigidos dados do USUÁRIO como login e senha para utilizar o VITRUUM. Basta o
						USUÁRIO baixar o aplicativo e realizar o cadastro com suas informações, tais como nome completo, e-mail,
						cidade, estado, endereço, e escolher uma senha;</p>
		
					<p><strong>5. </strong>O VITRUUM não intermedia a compra e venda de imóveis;</p>
		
					<p><strong>6. </strong>Todas informações inseridas pelo USUÁRIO nas vistorias e laudos do APP VITRUUM são de
						responsabilidade direta e exclusiva do(s) USUÁRIO(s), não havendo qualquer garantia ou responsabilidade do
						APP VITRUUM em relação às informações ou serviços e suas condições;</p>
		
					<p><strong>7. </strong>Qualquer informação que esteja em desacordo com as leis vigentes, que gere dúvidas ou se
						configure em informação enganosa ou abusiva, é de exclusiva responsabilidade do USUÁRIO;</p>
		
					<p><strong>8. </strong>LICENÇA LIMITADA - Você recebeu uma licença, não transferível, não exclusiva, livre de
						royalties e revogável para baixar, instalar, executar e utilizar este aplicativo em seu dispositivo. Você
						reconhece e concorda que o VITRUUM concede ao usuário uma licença exclusiva para uso e desta forma não lhe
						transfere os direitos sobre o aplicativo. O aplicativo deverá ser utilizado por você, USUÁRIO. A venda,
						transferência, modificação, engenharia reversa ou distribuição bem como a cópia de textos, imagens ou
						quaisquer partes nele contido são expressamente proibidas;</p>
		
					<p><strong>9. </strong>ALTERAÇÕES, MODIFICAÇÕES E RESCISÃO- O VITRUUM reserva-se no direito de, a qualquer
						tempo, modificar estes termos, seja incluindo, removendo ou alterando quaisquer de suas cláusulas. Tais
						modificações terão efeito imediato. Após publicadas tais alterações, ao continuar com o uso do aplicativo
						você terá aceitado e concordado em cumprir os termos modificados. O VITRUUM pode, de tempos em tempos,
						modificar ou descontinuar (temporária ou permanentemente) a distribuição ou a atualização deste aplicativo;
					</p>
		
					<p><strong>10.</strong> CONSENTIMENTOS PARA COLETA E USO DE DADOS - Você concorda que o VITRUUM pode coletar e
						usar dados pessoais de seu dispositivo tais como idade, perfil, localização, tempo de permanência no imóvel,
						além de outras informações, que no decorrer do uso do aplicativo, poderão ser coletadas;</p>
		
					<p><strong>11.</strong> O usuário não poderá responsabilizar o VITRUUM nem seus diretores, executivos,
						funcionários, afiliados, agentes, contratados ou licenciadores por quaisquer modificações, suspensões ou
						descontinuidade do aplicativo;</p>
		
					<p><strong>12.</strong> ISENÇÃO DE GARANTIAS E LIMITAÇÕES DE RESPONSABILIDADE - Este aplicativo estará em
						contínuo desenvolvimento e pode conter erros. Por isso, o uso é fornecido "no estado em que se encontra" e
						sob risco do usuário final. Na extensão máxima permitida pela legislação aplicável, o VITRUUM e seus
						fornecedores isentam-se de quaisquer garantias e condições expressas ou implícitas incluindo, sem limitação,
						garantias de comercialização, adequação a um propósito específico, titularidade e não violação no que diz
						respeito ao aplicativo e qualquer um de seus componentes ou ainda à prestação ou não de serviços de suporte.
						O VITRUUM não garante que a operação deste aplicativo seja contínua e sem defeitos. Exceto pelo estabelecido
						neste documento não há outras garantias, condições ou promessas aos aplicativos, expressas ou implícitas, e
						todas essas garantias, condições e promessas podem ser excluídas de acordo com o que é permitido por lei sem
						prejuízo ao VITRUUM e seus colaboradores;</p>
		
					<p><strong>13.</strong> O VITRUUM não garante, declara ou assegura que o uso deste aplicativo será ininterrupto
						ou livre de erros e você concorda que O VITRUUM poderá remover por períodos indefinidos ou cancelar este
						aplicativo a qualquer momento sem que você seja avisado;</p>
		
					<p><strong>14.</strong> O VITRUUM não garante, declara nem assegura que este aplicativo esteja livre de perda,
						interrupção, ataque, vírus, interferência, pirataria ou outra invasão de segurança e isenta-se de qualquer
						responsabilidade em relação à essas questões. Você é responsável pelo backup do seu próprio dispositivo e
						dos laudos de vistorias;</p>
		
					<p><strong>15.</strong> Em hipótese alguma o VITRUUM, bem como seus diretores, executivos, funcionários,
						afiliados, agentes, contratados ou licenciadores responsabilizar-se-ão por perdas ou danos causados pelo uso
						do aplicativo;</p>
		
					<p><strong>16.</strong> O VITRUUM não será responsabilizado por erros ou inconsistências no fornecimento de
						informações por sistemas independentes, especializados na prestação de serviços de localização no sistema de
						geoposicionamento global (GPS), radares e afins;</p>
		
					<p><strong>17.</strong> Você permite ao APP VITRUUM, usar a câmera do seu dispositivo móvel para adicionar
						fotografias, vídeos ou scanear o imóvel ou pessoa ao perfil do USUÁRIO ou dados para laudo no APP, enviar
						fotos ou vídeos e atividades similares sempre por meio de comando do USUÁRIO;</p>
		
					<p>Em caso de dúvida entre em contato com a Central de Atendimento VITRUUM visando ativar / atualizar cadastro
						e atividades similares;</p>
		
					<p><strong>18.</strong> O APP VITRUUM, objeto desse Termo, abrange os direitos de propriedade intelectual e
						industrial do USUÁRIO e é protegido pelas leis de direitos autorais em vigor no Brasil, por disposições de
						tratados internacionais e especialmente pelas leis no 9.609/98 (Proteção da Propriedade Intelectual do
						Software) e 9.610/98 (Proteção de Direitos Autorais);</p>
		
					<p><strong>19.</strong> Para o USUÁRIO com nacionalidade europeia, o APP VITRUUM não contempla a Lei GDPR. Por
						tanto, se não estiver de acordo com os Termos de Uso do APP VITRUUM não o utilize;</p>
		
					<p><strong>20.</strong> A abrangência dos serviços compreende a hospedagem e manutenção dos dados em um data
						center especializado, com segurança de dados, redundância de energia, bem como a disponibilização de um
						sistema on-line para consulta e atualização desses dados através da Internet;</p>
		
					<p><strong>21.</strong> A licença de uso do APP VITRUUM é exclusiva do USUÁRIO contratante e será instalado
						para operar em equipamento móvel (tablets e smartphones com sistema operacional Android versão 4.1 ou
						superior, registrado e individualizado ou versão IOS 9 ou maior registrado e individualizado);</p>
		
					<p><strong>22.</strong> O valor da compra de créditos será compatível com o plano optado pelo (a) USUÁRIO (a).
						Uma vez adicionados (compra) créditos no APP VITRUUM, estes não têm prazo de validade, caso o USUÁRIO não os
						utilize (tempo indeterminado);</p>
		
					<p><strong>23.</strong> Fica expressamente acordado que, em caso de rescisão do presente Termo, nenhuma
						remuneração será devida ao USUÁRIO;</p>
		
					<p><strong>24.</strong> Os valores dos créditos descritos na tabela de preços são limitados para 01 (uma) conta
						administradora, e somente ela realizará a geração dos laudos;</p>
		
					<p><strong>25.</strong> A correção do valor cobrado por crédito para geração do laudo de vistoria será efetuada
						sempre que houver necessidade de ajuste de valor por parte do APP VITRUUM, sem aviso prévio ao USUÁRIO;</p>
		
					<p><strong>26.</strong> O APP VITRUUM manterá um serviço de suporte via e-mail disponível ao USUÁRIO
						(contato@vitruum.com.br) para esclarecimento de dúvidas sobre a utilização do sistema. Este serviço de
						suporte estará disponível de segunda à sexta das 09:00 às 12:00 e das 14:00 às 18:00 horas, horário de
						Brasília, exceto aos feriados;</p>
		
					<p><strong>27.</strong> O APP VITRUUM manterá a disponibilização do uso do sistema 24 horas por dia, sete dias
						por semana, podendo haver interrupções de natureza técnico-operacional, hipótese essa em que haverá, sempre
						que possível, a informação prévia ao USUÁRIO, e o problema deverá ser corrigido pelo APP VITRUUM, em no
						máximo 48 (quarenta e oito) horas, após a ciência do USUÁRIO;</p>
		
					<p><strong>28.</strong> Cabe ao USUÁRIO a contratação, aquisição e manutenção de todos os equipamentos,
						programas de computador e serviços necessários para manter o(s) seu(s) computador(es), tablet(s) e
						smartphone(s) conectado(s) à rede internet e com capacidade para utilização do aplicativo on-line e
						off-line;</p>
		
					<p><strong>29.</strong> O presente Termo é celebrado em caráter irrevogável e irretratável obrigando as partes
						e seus sucessores;</p>
		
					<p><strong>30.</strong> Havendo necessidade de treinamento ao USUÁRIO, ou serviços de restauração de programas,
						ação de terceiros, ou qualquer origem alheia à vontade das partes, assim como, quando houver solicitação de
						atendimento para resolução de problemas decorrentes do uso inadequado do sistema, o APP VITRUUM cobrará
						valor adicional por estes serviços;</p>
		
					<p><strong>31.</strong> As sugestões de melhorias para o APP VITRUUM, visando atender necessidades específicas
						dos (as) USUÁRIO (AS), serão analisadas pelo VITRUUM, bem como a realização dessas alterações. Caberá ao
						VITRUUM, decidir sobre a realização ou não.</p>
		
					<p>O USUÁRIO declara ter lido e entendido, e que aceita todas as regras, condições e obrigações estabelecidas
						no presente Termo.</p>
		
					<p>Caso não esteja de acordo com os Termos de Uso deste aplicativo, não instale ou use o APP VITRUUM.</p>
		
					<p>As partes elegem como competente para dirimir eventuais controvérsias que venham a surgir da interpretação e
						do cumprimento do presente Termo, o foro da Comarca de Guaporé - RS - Brasil.</p>
		
					<p>Entendidos e aceitos os termos e condições de uso, desejamos a você uma ótima navegação, e que encontre as
						melhores promoções de sua cidade no VITRUUM.</p>
		
					<p><span>Última atualização em 08/10/2020</span></p>
				</div>
			</article>
		</main>

		<footer class="footer_politica">
			<p><strong>Vitruum<i>®</i> <span id="ano_atual"></span></strong> · Todos os direitos reservados · <a href="/politica-de-privacidade.html">Política de privacidade.</a></p>
			
		</footer>
	</body>

	<script>
		document.addEventListener("DOMContentLoaded", (event) => {
			var ano_atual = document.getElementById('ano_atual');
			var ano = new Date().getFullYear();
			ano_atual.innerHTML = ano;
		}, true);
	</script>

</html>